*.aux
*.bak
*.swp
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lol
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*~
*\#
these.pdf
these-pdfa.pdf
pdfa.xmpi

# MacOS
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*